* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
}
:root {
    --body-font: 'Montserrat', sans-serif;
}
.main {
    min-height: 100vh;
    overflow: hidden;
    position: relative; 
    background-color: #FFF5EC;
}
.heartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigHeart {
    width: 200px;
}
.likedList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap:2rem 2rem;  
    padding: 20px;
    justify-content: center;
  }