@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}
:root {
    --body-font: 'Montserrat', sans-serif;
}
.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #f8ad9d;
    border-bottom: 5px solid #fff;
}
.logoContainer {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.logo {
    height: 70px;
    width: 70px;
}
.navList {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}
.logoutButton {
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 8px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    transition:
        background-color 0.3s,
        color 0.3s;
}
.navList li button:hover {
    background-color: #640d14;
    color: white;
}
.successMessage {
    background-color: #d4edda; 
    color: #155724; 
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #c3e6cb;
    font-size: 0.9rem;
    font-weight: bold;
    position: fixed;
    top: 15px;
    right: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    z-index: 1000;
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.navList li a {
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    transition:
        background-color 0.3s,
        color 0.3s;
}
.navList li a:hover {
    background-color: #640d14;
    color: white;
}

.iconsContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icons {
    display: flex;
    gap: 15px;
}

.moon,
.user,
.heart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.heart {
    margin-top: 3px;
}
